.container { 
	margin-top: 30px;
    max-width: 270px;
    background: beige;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

table{ margin: 0 auto; }

#message { 
	padding: 20px 0 7px 0;
    font-family: initial;
	text-transform: uppercase; 
	font-size: 16px; 
	margin: 0 auto; 
	text-align: center; 
}


td { 
	margin: 5px;
	text-align: center; 
	background-color: white; 
}

.square { 
	height: 50px; 
	width: 30px; 
}

.btn-primary{ 
	font-size: 30px;
	width: 60px; 
	height: 60px; }

.btn-success { margin: 10px 0 10px 17px; }	